<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Usuarios</title>
  <style>
    body { font-family: Arial; padding: 1rem; }
    form, table { margin-bottom: 2rem; }
    input, button { padding: 0.5rem; margin: 0.2rem; }
  </style>
</head>

  <%- include('layout/header') %>

  <h1>CRUD de Usuarios</h1>

  <form action="/users" method="POST" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Nombre" required />
    <input type="email" name="email" placeholder="Email" required />
    <input type="text" name="phone" placeholder="Teléfono" required />
    <!-- <input type="text" name="image" placeholder="URL Imagen" required /> -->
    <input type="file" name="image" required>
    <button type="submit">Crear Usuario</button>
  </form>

  <% if (message) { %>
    <div style="background-color: red; color: white">
      <h2><%= message.type %></h2>
      <p><%= message.message %></p>
    </div>
  <% } %>

  <table border="1" cellpadding="10">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Imagen</th>
        <th>Creado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone %></td>
          <td><img src="/uploads/<%= user.image %>" alt="img" width="50"/></td>
          <td><%= new Date(user.created_at).toLocaleDateString() %></td>
          <td>
            <form action="/users/<%= user._id %>?_method=DELETE" method="POST" style="display:inline;">
              <button type="submit">Eliminar</button>
            </form>
            <a href="/users/<%= user._id %>/edit">Editar</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <%- include('layout/footer') %>
</body>
</html>
